{% extends 'base.html' %}

{% block assets %}
{{ super() }}
<style>
  /* base styles */
  @import url('https://unpkg.com/@tacc/core-styles@2.17.4/dist/core-styles.settings.css') layer(base);
  @import url('https://unpkg.com/@tacc/core-styles@2.17.4/dist/elements/links.css') layer(base);
  @import url('https://unpkg.com/@tacc/core-styles@2.17.4/dist/elements/form.css') layer(base);
  @import url('https://unpkg.com/@tacc/core-styles@2.17.4/dist/elements/sticky-footer.css') layer(base);
  @import url('https://unpkg.com/@tacc/core-styles@2.17.4/dist/trumps/s-form.css') layer(base);
  @import url('https://unpkg.com/@tacc/core-styles@2.17.4/dist/trumps/s-form--login.css') layer(base);
  @import url('https://unpkg.com/@tacc/core-styles@2.17.4/dist/trumps/s-form-page.css') layer(base);
  @import url('https://unpkg.com/@tacc/core-styles@2.17.4/dist/trumps/s-footer.css') layer(base);
  @import url('https://unpkg.com/@tacc/core-styles@2.17.4/dist/trumps/s-footer--thin.css') layer(base);

  /* portal (or cms) styles */
  @import url('https://unpkg.com/@tacc/core-styles@2.17.4/dist/trumps/s-form--portal.css') layer(project);
  @import url('https://unpkg.com/@tacc/core-styles@2.17.4/dist/settings/color--portal.css') layer(project);
  @import url('https://unpkg.com/@tacc/core-styles@2.17.4/dist/settings/font--portal.css') layer(project);
</style>
{% endblock %}

{% block head_extra %}
<style>
body {
  background-color: var(--global-color-primary--light);

  /* So body is as tall as page, thus sticky footer sticks to bottom of page */
  /* FAQ: Replaces base.html fixed footer because it has a disadvantage—
          it covers the login form on screens shorter than the form */
  min-height: 100vh;
}
</style>
{% endblock %}

{# So banner is NOT rendered #}
{% block banner %}
{% endblock %}

{% block footer %}
<footer class="s-footer">
  <p>Tapis project funded by NSF OAC grants
    <a
      href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1931439"
      rel="noreferrer"
      target="_blank">#1931439</a>,
    <a
      href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1931575"
      rel="noreferrer"
      target="_blank">#1931575</a>
    and #2232259.
  </p>
</footer>
{% endblock %}
