{% extends 'base.html' %}
{% block assets %}
    {{ super() }}
    {% with core_styles_cdn_url="https://cdn.jsdelivr.net/npm/@tacc/core-styles@v2.30.1" %}
        <style>
  /* base styles */
  @import url('{{ core_styles_cdn_url }}/dist/core-styles.settings.css') layer(base);
  @import url('{{ core_styles_cdn_url }}/dist/elements/links.css') layer(base);
  @import url('{{ core_styles_cdn_url }}/dist/elements/form.css') layer(base);
  @import url('{{ core_styles_cdn_url }}/dist/elements/sticky-footer.css') layer(base);
  @import url('{{ core_styles_cdn_url }}/dist/trumps/s-form.css') layer(base);
  @import url('{{ core_styles_cdn_url }}/dist/trumps/s-form--login.css') layer(base);
  @import url('{{ core_styles_cdn_url }}/dist/trumps/s-form-page.css') layer(base);
  @import url('{{ core_styles_cdn_url }}/dist/trumps/s-footer.css') layer(base);
  @import url('{{ core_styles_cdn_url }}/dist/trumps/s-footer--thin.css') layer(base);

  /* portal (or cms) styles */
  @import url('{{ core_styles_cdn_url }}/dist/trumps/s-form--portal.css') layer(project);
  @import url('{{ core_styles_cdn_url }}/dist/settings/color--portal.css') layer(project);
  @import url('{{ core_styles_cdn_url }}/dist/settings/font--portal.css') layer(project);
  /* NOTE: authenticator uses v3 but that version does not have a spinner */
  @import url('{{ core_styles_cdn_url }}/dist/vendors/bootstrap5--border-spinner.css') layer(project);
        </style>
    {% endwith %}
{% endblock %}
{% block head_extra %}
    <style>
  body {
    background-color: var(--global-color-primary--light);

    /* So body is as tall as page, thus sticky footer sticks to bottom of page */
    /* FAQ: Replaces base.html fixed footer because it has a disadvantage—
          it covers the login form on screens shorter than the form */
    min-height: 100vh;
  }
    </style>
    <template id="loading-content">
        <span class="sr-only" role="status">Loading...</span>
        <span class="spinner-border" aria-hidden="true"></span>
    </template>
    <script type="module">
    const form = document.querySelector('form');
    const submitButtons = form.querySelectorAll('[type="submit"]');
    const loadingTemplate = document.getElementById('loading-content');
    const loadingContent = loadingTemplate.content.cloneNode(true);
    const fields = form.querySelectorAll('input:not([hidden], select, textarea');

    form.addEventListener('submit', (event) => {
      /* To show user the submission is in progress */
      if (submitButtons.length === 1) {
        const submitButton = submitButtons[0];

        submitButton.setAttribute('data-state', 'busy');
        submitButton.append(...loadingContent.childNodes);

        /* To not disable buttons that have a value to submit */
        /* FAQ: Or else value will not be submitted */
        if ( ! submitButton.hasAttribute('value')) {
          submitButton.setAttribute('disabled', '');
        }
      }

      /* To show user what was entered is what will be processed */
      [...fields].forEach(field => {
        field.setAttribute('readonly', '');
      });
    });
    </script>
{% endblock %}
{# So banner is NOT rendered #}
{% block banner %}{% endblock %}
{% block footer %}
    <footer class="s-footer">
        <p>
            Tapis project funded by NSF OAC grants
            <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1931439"
               rel="noreferrer"
               target="_blank">#1931439</a>,
            <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1931575"
               rel="noreferrer"
               target="_blank">#1931575</a>
            and #2232259.
        </p>
    </footer>
{% endblock %}
