<!DOCTYPE html>

<html lang="en">
<head>
  <title>Tapis Authentication</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block assets %}
  <style>
    @layer foundation, base, project;
    @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css') layer(foundation);
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  {% endblock %}

  {% block head_extra %}
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
    </style>
  {% endblock %}
</head>

{% block banner %}
  {% with tenant_id=tenant_id, is_banner=true %}
    {% include "./branding.html" %}
  {% endwith %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<footer class="s-footer" style="top: 100vh; position: sticky;">
  <p>Tapis project funded by NSF OAC grants
    <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1931439" rel="noreferrer" target="_blank">#1931439</a>,
    <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1931575" rel="noreferrer" target="_blank">#1931575</a>
    and #2232259.
  </p>
</footer>
{% endblock %}
