{% extends 'base.html' %}
{% block content %}
 <div class="container">
    <h2> Device Activation </h2>
 </div>

 <form action="" method="post">


     {% if error %}
   <div class="container">
      <p>Error: {{ error }}</p>
   </div>
     {% endif %}

     <div class="container">
         <div class="input-group">
            Enter code displayed on your device: <input id="user_code" type="text" class="form-control" name="user_code" required>
            <input type="hidden" name="client_id" value="{{ client_id }}">
            <input type="hidden" name="client_redirect_uri" value="{{ client_redirect_uri }}">
            <input type="hidden" name="client_display_name" value="{{ client_display_name }}">
            <input type="hidden" name="client_state" value="{{ client_state }}">
            <input type="hidden" name="client_response_type" value="{{ client_response_type }}">
         </div>
        <button type="submit">Submit</button>
    </div>
  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>
{% endblock %}