{% extends 'base-auth.html' %}

{% block content %}
<main class="s-form-page">
  <form action="" method="post" class="s-form s-form--login">
    <h1>
      <figure>
      {% with tenant_id=tenant_id %}
        {% include "./branding.html" %}
      {% endwith %}
      {% with tenant_id="tacc" %}
        {% include "./branding.html" %}
      {% endwith %}
      </figure>
      <span>Log In</span>
    </h1>
    <p>to continue to the <var>{{ client_display_name }}</var></p>

    {% if error %}
    <ul>
      <li>Error: {{ error }}</li>
    </ul>
    {% endif %}

    <div class="has-required">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" required>
    </div>
    <div class="has-required">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" required>
    </div>
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="client_redirect_uri" value="{{ client_redirect_uri }}">
    <input type="hidden" name="client_display_name" value="{{ client_display_name }}">
    <input type="hidden" name="client_state" value="{{ client_state }}">
    <footer>
      <a
        href="https://accounts.tacc.utexas.edu/register"
        rel="noreferrer"
        target="_blank"
      >
        Create Account
      </a>
      <button type="submit">Login</button>
    </footer>
    <nav>
      <p>Having trouble?</p>
      <a
        href="https://tacc.utexas.edu/about/help/"
        rel="noreferrer"
        target="_blank"
      >
        Account Help
      </a>
    </nav>
  </form>
  <footer>
    <a href="https://tacc.utexas.edu/about/security-and-compliance/">
      Security
    </a>
    <a href="https://tacc.utexas.edu/use-tacc/user-policies/">
      Policies
    </a>
  </footer>
</main>
{% endblock %}

{% block head_extra %}
{{ super() }}
<style>
var {
  font-style: normal; /* to override browser default */
}
</style>
{% endblock %}
