{% extends 'base.html' %}
{% block content %}
<body>

<h2> Tapis Login - Tenant {{ tenant_id }}</h2>

 <form action="" method="post">
  <div class="imgcontainer">
    <img src="authorize/tapis.jpg" alt="Tapis" class="avatar">
  </div>

     {% if error %}
   <div class="container">
      <p>Error: {{ error }}</p>
   </div>
     {% endif %}

     <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
{% endblock %}