{% extends 'base.html' %}
{% block content %}
<body>

 <div class="container">
    <h2> Tapis Login - Tenant {{ tenant_id }} </h2>
 </div>

 <form action="" method="post">


     {% if error %}
   <div class="container">
      <p>Error: {{ error }}</p>
   </div>
     {% endif %}

     <div class="container">
         <div class="input-group">
            Username: <input id="username" type="text" class="form-control" name="username" placeholder="Enter Username" required>
         </div>
         <div class="input-group">
            Password: <input id="password" type="password" class="form-control" name="password" placeholder="Enter Password" required>
            <input type="hidden" name="client_id" value="{{ client_id }}">
            <input type="hidden" name="client_redirect_uri" value="{{ client_redirect_uri }}">
            <input type="hidden" name="client_display_name" value="{{ client_display_name }}">
            <input type="hidden" name="client_state" value="{{ client_state }}">
            <!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> -->
         </div>
        <button type="submit">Login</button>
    </div>
  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="mailto:CICSupport@tacc.utexas.edu">password?</a></span>
  </div>
</form>
{% endblock %}