{% extends 'base-auth.html' %}

{% block content %}
<main class="s-form-page">
 <form action="" method="post" class="s-form s-form--login">   
   <h1>
      <figure>
      {% with tenant_id=tenant_id %}
        {% include "./branding.html" %}
      {% endwith %}
      {% with tenant_id="tacc" %}
        {% include "./branding.html" %}
      {% endwith %}
      </figure>
      <span>Select Account Type</span>
    </h1>
    <p>to continue to login</p>

   {% if error %}
   <div class="container">
      <p>Error: {{ error }}</p>
   </div>
   {% endif %}

        {% for idp in idps %}
        <div class="has-required">
         <input id="{{ idp.idp_id }}" type="radio" name="idp_id" value="{{ idp.idp_id }}"/> <label for="{{ idp.idp_id }}">{{ idp.idp_name }}</label> 
        </div>
        {% endfor %}
     <footer>
        <button type="submit">Submit</button>
      </footer>
     <nav>
      <p>Having trouble?</p>
      <a
        href="https://tacc.utexas.edu/about/help/"
        rel="noreferrer"
        target="_blank"
      >
        Account Help
      </a>
    </nav>

 </form>
 <footer>
   <a href="https://tacc.utexas.edu/about/security-and-compliance/">
     Security
   </a>
   <a href="https://tacc.utexas.edu/use-tacc/user-policies/">
     Policies
   </a>
 </footer>

</main>
{% endblock %}
