{% extends 'base-auth.html' %}

{% block content %}
<main class="s-form-page">
 <form action="" method="post" class="s-form s-form--login">   
   <h1>
      <figure>
      {% with tenant_id=tenant_id %}
        {% include "./branding.html" %}
      {% endwith %}
      {% with tenant_id="tacc" %}
        {% include "./branding.html" %}
      {% endwith %}
      </figure>
      <span>Log in to Tapis</span>
    </h1>
    <p>Select an account to continue</p>

   {% if error %}
   <ul>
      <li>Error: {{ error }}</li>
   </ul>
   {% endif %}

     <div class="button-list">
        {% for idp in idps %}
        <button name="idp_id" value="{{ idp.idp_id }}" type="submit">
          <img src="authorize/{{ idp.idp_id }}.svg" alt="{{ idp.idp_name }}" />
          {{ idp.idp_name }}
        </button>
        {% endfor %}
     </div>
     <nav>
      <p>Having trouble?</p>
      {% if tenant_id == 'designsafe' %}
      <a
        href="https://designsafe-ci.org/user-guide/account-help/"
        rel="noreferrer"
        target="_blank"
      >
        Account Help
      </a>
      {% else %}
      <a
        href="https://tacc.utexas.edu/about/help/"
        rel="noreferrer"
        target="_blank"
      >
        Account Help
      </a>
      {% endif %}
    </nav>

 </form>
 <footer>
   <a href="https://tacc.utexas.edu/about/security-and-compliance/">
     Security
   </a>
   <a href="https://tacc.utexas.edu/use-tacc/user-policies/">
     Policies
   </a>
 </footer>

</main>
{% endblock %}

{% block head_extra %}
{{ super() }}
<style>
  .button-list {
    /* To lay out buttons in a flexible centered column */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
  }
  .button-list button {
    min-width: 30rem; /* to limit button width but allow wider */

    /* To position button content */
    align-items: center;
    justify-content: left;
  }
  .button-list button img {
    width: 8rem;
    height: 4rem;
    margin-right: 1em;
  }
</style>
{% endblock %}
