{% extends 'base.html' %}
{% block content %}
<body>
 <div class="container">
    <h2> User Profile And Access Token</h2>
 </div>
     {% if error %}
 <div class="container">
      <p>Error: {{ error }}</p>
 </div>
     {% endif %}

 <div class="container">
   <table id="details" class="table table-striped">
      <thead>
          <tr>
            <th>Token Details</th>
            <th width="200px"> </th>
          </tr>
      </thead>
      <tbody>
         <tr>
            <td>Tenant ID</td>
            <td>{{ tenant_id }}</td>
        </tr>
        <tr>
              <td>Username</td>
              <td>{{ username }}</td>
          </tr>
          <tr>
              <td>Access Token</td>
              <td>{{ token }}</td>
          </tr>
      </tbody>
   </table>
 </div>



{% endblock %}