{% extends 'base.html' %}

{% block assets %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/@tacc/core-styles@2.17.0/dist/core-styles.settings.css">
<link rel="stylesheet" href="https://unpkg.com/@tacc/core-styles@2.17.0/dist/settings/color--portal.css">
<link rel="stylesheet" href="https://unpkg.com/@tacc/core-styles@2.17.0/dist/settings/font--portal.css">
<link rel="stylesheet" href="https://unpkg.com/@tacc/core-styles@2.17.0/dist/elements/links.css">
<link rel="stylesheet" href="https://unpkg.com/@tacc/core-styles@2.17.0/dist/elements/form.css">
<link rel="stylesheet" href="https://unpkg.com/@tacc/core-styles@2.17.0/dist/elements/sticky-footer.css">
<link rel="stylesheet" href="https://unpkg.com/@tacc/core-styles@2.17.0/dist/trumps/s-form.css">
<link rel="stylesheet" href="https://unpkg.com/@tacc/core-styles@2.17.0/dist/trumps/s-form--login.css">
<link rel="stylesheet" href="https://unpkg.com/@tacc/core-styles@2.17.0/dist/trumps/s-form-page.css">
<link rel="stylesheet" href="https://unpkg.com/@tacc/core-styles@2.17.0/dist/trumps/s-footer.css">
<link rel="stylesheet" href="https://unpkg.com/@tacc/core-styles@2.17.0/dist/trumps/s-footer--thin.css">
{% endblock %}
{% block head_extra %}
<style>
body {
  background-color: var(--global-color-primary--light);

  /* So body is as tall as page, thus sticky footer sticks to bottom of page */
  /* FAQ: Replaces base.html fixed footer because it has a disadvantage—
          it covers the login form on screens shorter than the form */
  min-height: 100vh;
}
</style>
{% endblock %}

{# So banner is NOT rendered #}
{% block banner %}
{% endblock %}

{% block content %}
 <div class="container">
    <h2> User Profile And Access Token</h2>
 </div>
     {% if error %}
    <div class="container">
        <p>Error: {{ error }}</p>
    </div>
     {% endif %}

 <div class="container">
   <table id="details" class="table table-striped">
      <thead>
          <tr>
            <th>Token Details</th>
            <th width="200px"> </th>
          </tr>
      </thead>
      <tbody>
         <tr>
            <td>Tenant ID</td>
            <td>{{ tenant_id }}</td>
        </tr>
        <tr>
              <td>Username</td>
              <td>{{ username }}</td>
          </tr>
          <tr>
              <td>Access Token</td>
              <td>{{ token }}</td>
          </tr>
      </tbody>
   </table>
 </div>
{% endblock %}